.Page {
	display: flex;
	position: relative;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	top: 0;
	left: 0;
	min-height: calc(100vh - 2.7rem);
	width: 100%;
	padding: 4rem 2rem 7rem 2rem;
	/* padding-top: 2rem; */

	background-color: rgb(253, 232, 232);
	z-index: -1;
	overflow-y: auto;
}


.Section-Group {
	width: 100%;
	margin-bottom: 3rem;
	box-shadow: .2rem .2rem 1rem rgba(118, 136, 106, 0.253);
}

.Entry-Group {
	display: flex;
	position: relative;
	flex-shrink: 0;
	/* min-height: 2rem; */
	/* height: max-content; */
	width: 100%;
	padding: .7rem 0 .7rem .4rem;
	border-bottom: .1rem solid rgb(233, 227, 227);
	/* resize: vertical; */
	/* overflow: auto; */
	background-color: rgb(255, 255, 255);
	
}

.Section-Heading {
	display: flex;
	text-align: left;
	align-items: flex-start;
	/* justify-content: flex-start; */
	flex-direction: column;
	width: 100%;
	padding: 1.2rem 1rem .7rem 1rem;
	background-color: rgb(29, 39, 58);
}
.Section-Heading h2 {
	color: white;
	width: 50%;
}
.Section-Heading h3 {
	color: rgb(156, 169, 173);
	width: 50%;
}
.Info-Row {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: .7rem 0 .4rem .3rem;
	background: linear-gradient(0deg, rgb(213, 250, 243) 0%, rgba(255,255,255,1) 100%);
	border-bottom: .1rem solid rgb(233, 227, 227);
	color:rgb(88, 102, 128);
}
.Info-Row h3:nth-child(1) {
	width: 9rem;
}
.Info-Row h3:nth-child(n+2) {
	text-align: left;
	width: calc(50% - 3rem);
}
.Subheading {
	text-align: left;
	font-weight: 500;
	width: 100%;
	padding: .4rem 1rem;
	background: rgb(250, 244, 244);
	border-bottom: .1rem solid rgb(233, 227, 227);
	/* background: linear-gradient(0deg, rgba(184,244,232,1) 0%, rgba(255,255,255,1) 100%); */
}

.Entry-Heading {
	font-size: .8rem;
	font-weight: 600;
	color:rgb(88, 102, 128);
	width: 9rem;
	padding: .2rem 0;
	/* background-color: rgb(156, 201, 201); */
}

.Input-Field {
	padding: .2rem 2rem .2rem 0;
	overflow: hidden;
}

h4 {
	font-weight: 300;
	width: calc(50% - 3rem);
	text-align: left;
}