.Route-Button {
	color: white;
	/* position: absolute; */
	/* top: 10rem; */
	height: 1rem;
	padding: 0 2.6vw;
}

button {
	height: 2.2rem;
	width: 2.2rem;
	margin: .3rem 0;
	border: none;
	cursor: pointer;
	padding: .5rem;
	/* color: rgb(104, 85, 85); */
	border-radius: .6rem;
	background: linear-gradient(145deg, #2a374e, #1d273a);
	box-shadow:  .2rem .2rem .2rem #15191fb4,
             .1rem .1rem .2rem  #374155;
}
button img {
	opacity: .6;
	filter: brightness(3);
	transition: opacity .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
	transition-property: opacity, filter;
}
button:hover img {
	opacity: 1;
	filter: brightness(1);
	transition-duration: .1s;
}
button:active img {
	opacity: 1;
	filter: brightness(0.7);
	transition-duration: .04s;
}

.Inner-Button {
	position: absolute;
	color: rgb(153, 139, 139);
	height: 1.4rem;
	width: 1.4rem;
	top: 0;
	right: 0;
	padding: 0;
	margin: .2rem;
	border-radius: .3rem;
	border: none;
	background-color: #85e7cf;
}
.Key ~ .Inner-Button {
	color: rgb(152, 153, 137);
	background-color: #36534c;
}
.Inner-Button h3 {
	font-size: 1.1rem;
}
.Inner-Button:hover {
	color: rgb(46, 43, 43);
}
.Key ~ .Inner-Button:hover {
	color: rgb(255, 255, 255);
}

div.Button-Group div {
	flex-direction: row;
}

.Button-Group button {
	margin: .6rem;
	margin-top: 3rem;
}

button.disabled {
	opacity: .6;
	pointer-events: none;
}




.stripes {
	
	/* stripes */
	background:  linear-gradient( to top,
	rgb(231, 231, 212),
	transparent
	),
	repeating-linear-gradient( 135deg,
	  #f3ecec,
		#e2e7d9 .3rem,
		#fafff3 .3rem,
		#fffafa .6rem
	  );
}


.Page-Heading {
	margin: 3rem 1rem 1.5rem .6rem;
}